
#container {
    height: 575px;
    width: 575px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    margin: auto; 
}


.grid-div {
    border: 1px solid black;
}

.color-box {
    background-color: black;
}

#reset {
    display: flex;
    position: relative;
    bottom: 300px;
    width: 70px;
    height: 30px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    border-radius: 2px;
    color: white;
    background-color: #0099CC;
    
}

.btn-container {
    display: flex;
    position: relative;
    margin-left: 130px;
}

#setGrid {
    display: flex;
    position: relative;
    bottom: 270px;
}

.range-control {
    display: flex;
    position: relative;
    bottom: 245px;
    margin-left: 100px;
}

.value {
    display: flex;
    position: relative;
    bottom: 270px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 150px;
    
}

.cell{
    background-color: white;
    border: 1px solid black;
}