
#container {
    height: 575px;
    width: 575px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    margin: auto; 
    
    
}

.grid-div {
    border: 1px solid black;
}

.color-box {
    background-color: black;
}

#reset {
    display: flex;
    position: relative;
    bottom: 300px;
    width: 70px;
    height: 30px;
    text-align: center;
    
}

#setGrid {
    display: flex;
    position: relative;
    bottom: 270px;
}

.range-control {
    display: flex;
    position: relative;
    bottom: 240px;
}

.slide-value {
    display: flex;
    position: relative;
    bottom: 250px;
}

.cell{
    background-color: white;
    border: 1px solid black;
}